In [12]:
import pandas as pd
import pickle

## SST1 Corpus

In [3]:
sst1_corpus = pd.read_pickle('dataset/SST1.pkl')

In [4]:
sst1_corpus.tail()

                                                 sentence label split
160123  the problem with concept films is that if the ...     1  test
160124  safe conduct , however ambitious and well inte...     1  test
160125  a film made with as little wit , interest , an...     1  test
160126  to enjoy this movie 's sharp dialogue and deli...     2  test
160127  but here 's the real damn it is n't funny , ei...     0  test

In [7]:
min_sent_lenght = 5
sst1_corpus = sst1_corpus[sst1_corpus['sentence'].apply(lambda x: len(x.split()) > min_sent_lenght)].reset_index(drop=True)
sst1_corpus.tail()

In [13]:
with open('dataset/SST1_capado.pkl', 'wb') as f:
    pickle.dump(sst1_corpus,f)

In [14]:
!ls dataset/

2017-06-custom-intent-engines intents_train_roberto.csv
SST1.pkl                      snips_dataset.csv
SST1_capado.pkl               snips_sliced_test.pkl
SST2.pkl                      snips_sliced_train.pkl
intents_test_roberto.pkl

In [15]:
with open('dataset/SST1_capado.pkl', 'rb') as f:
    test_sst1 = pickle.load(f)

In [16]:
test_sst1.tail()

                                                sentence label split
72115  the problem with concept films is that if the ...     1  test
72116  safe conduct , however ambitious and well inte...     1  test
72117  a film made with as little wit , interest , an...     1  test
72118  to enjoy this movie 's sharp dialogue and deli...     2  test
72119  but here 's the real damn it is n't funny , ei...     0  test

## SST2 Corpus

In [18]:
sst2_corpus = pd.read_pickle('dataset/SST2.pkl')
sst2_corpus.tail()

                                                sentence label split
79649  an often deadly boring , strange reading of a ...     0  test
79650  the problem with concept films is that if the ...     0  test
79651  safe conduct , however ambitious and well inte...     0  test
79652  a film made with as little wit , interest , an...     0  test
79653  but here 's the real damn it is n't funny , ei...     0  test

In [19]:
min_sent_lenght = 5
sst2_corpus = sst2_corpus[sst2_corpus['sentence'].apply(lambda x: len(x.split()) > min_sent_lenght)].reset_index(drop=True)
sst2_corpus.tail()

                                                sentence label split
47565  an often deadly boring , strange reading of a ...     0  test
47566  the problem with concept films is that if the ...     0  test
47567  safe conduct , however ambitious and well inte...     0  test
47568  a film made with as little wit , interest , an...     0  test
47569  but here 's the real damn it is n't funny , ei...     0  test

In [21]:
with open('dataset/SST2_capado.pkl', 'wb') as f:
    pickle.dump(sst2_corpus,f)

In [22]:
with open('dataset/SST2_capado.pkl', 'rb') as f:
    test_sst2 = pickle.load(f)

In [23]:
test_sst2.tail()

                                                sentence label split
47565  an often deadly boring , strange reading of a ...     0  test
47566  the problem with concept films is that if the ...     0  test
47567  safe conduct , however ambitious and well inte...     0  test
47568  a film made with as little wit , interest , an...     0  test
47569  but here 's the real damn it is n't funny , ei...     0  test